* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vw;
    background: linear-gradient(gray,rgb(228, 228, 228));
}

.principal {
    position: relative;
    width: 90%;
    max-width: 135.9vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.principal img, .principal p, .principal a {
    position: absolute;
}

.rec-3 {
    top: 20%;
    left: 1vw;
    width: 91.6vw;
}

.logo {
    top: 3vw;
    left: 4vw;
    width: 12v;
    height: auto;
    z-index: 1;
}

.linea {
    top: 0;
    left: 55%;
    width: 10%;
    height: auto;
    z-index: 1;
}

.comp, .sldo {
    background-color: white;
    font-size: 2vw;
    position: absolute;
    z-index: 1;
}

.comp {
    top: 2.5vw;
    left: 65%;
}

.sldo {
    top: 2.5vw;
    left: 83%;
}

.search, .cart {
    width: 2%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.search {
    top: 3vw;
    left: 93%;
}

.cart {
    top:3vw;
    left: 98%;
}

.tarjeta {
    top: 5vw;
    left: 20vw;
    width: 50vw;
}

.rectangle-2 {
    top: 46vw;
    left: 76.5vw;
    width: 10%;
    height: auto;
    z-index: 1;
}

.logo3 {
    top: 47vw;
    left: 77vw;
    width: 8%;
    height: auto;
    z-index: 1;
}

.Compra {
    font-size: 2vw;
    top: 49vw;
    left: 77vw;
    width: 10%;
    height: auto;
    z-index: 1;
}

.rectangle-1 {
    top: 20%;
    right: -10vw;
    width: 7.2vw

}

.up, .down {
    width: 3vw;
    height: auto;
    position: absolute;
    z-index: 1;
}

.up {
    top: 5vw;
    right: -8vw;
}

.down {
    bottom: -45vw;
    right: -8vw;
}

.cant {
    font-size: 1.5vw;
    color: white;
    top: 9vw;
    right: -8.3vw;
    width: auto;
    z-index: 1;
}

.num04, .num05, .num06 {
    font-size: 1.2em;
    width: 5vw;
    position: absolute;
    z-index: 1;
}

.num04 {
    color: rgb(151, 150, 150);
    top: 15vw;
    right: -10%;
}

.num05 {
    color: white;
    top: 25vw;
    right: -10%;
}

.num06 {
    color: rgb(151, 150, 150);
    top: 35vw;
    right: -10%;
}

.p {
    font-size: 1em;
    top: 33vw;
    left: 30vw;
    width: auto;
    height: auto;
    z-index: 1;
}

.pp {
    font-size: 1em;
    top: 39vw;
    left: 35vw;
    width: auto;
    height: auto;
    z-index: 1;
}
.ppp {
    font-size: em;
    top: 43vw;
    left: 39vw;
    width: auto;
    height: auto;
    z-index: 1;
}
.pppp {
    border-radius: 5%;
    border: solid rgb(110, 110, 110) 2px;
    padding: 3px 25px 3px 25px;
    font-size: 1em;
    top: 48vw;
    left: 40vw;
    width: auto;
    height: auto;
    z-index: 1;
}

